{{ form_start(form) }}

<div class="space-y-12 sm:space-y-16">
    <div>

        <div class="sm:flex">
            <div class="flex-1">
                <h1 class="text-base font-bold leading-8 text-gray-900">
                    <a href="{{ path('index') }}">YAQREGN</a>
                </h1>
                <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">
                    Yet Another QR Code Generator !
                </p>
            </div>
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Générer
            </button>
        </div>

        <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

            <h2 class="text-base font-semibold leading-7 text-gray-900 bg-gray-100">Contenu</h2>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.data, 'Contenu', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    {{ form_widget(form.data, {'attr': {'class': "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>

            <h2 class="text-base font-semibold leading-7 text-gray-900 bg-gray-100">Logo</h2>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.logoUrl, 'Logo (url)', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    {{ form_widget(form.logoUrl, {'attr': {'placeholder': 'https://example.com/logo.png', 'class': "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
                <p class="sm:col-start-2 sm:col-span-2 text-xs leading-6 text-gray-600">
                    💡 (expérimental) L'ajout d'un logo impose le format PNG, et désactive les couleurs.
                </p>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.logoSpaceWidth, 'Taille du logo (en "blocks")', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:mt-0">
                    {{ form_widget(form.logoSpaceWidth,  {'attr': {'placeholder':'Largeur', 'class': "block w-half rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
                <div class="mt-2 sm:mt-0">
                    {{ form_widget(form.logoSpaceHeight, {'attr': {'placeholder':'hauteur', 'class': "block w-half rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>

            <h2 class="text-base font-semibold leading-7 text-gray-900 bg-gray-100">Image</h2>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.eccLevel, 'Contrôle d\'erreur', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    {{ form_widget(form.eccLevel, {'attr': {'class': "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
                <p class="sm:col-start-2 sm:col-span-2 text-xs leading-6 text-gray-600">
                    Plus le niveau est élevé, plus le QRCode résiste aux erreurs de lecture et au masquage.
                </p>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.format, 'Format d\'image', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    {{ form_widget(form.format, {'attr': {'class': "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.scale, 'Taille d\'un bloc (px)', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2sm:mt-0">
                    {{ form_widget(form.scale,  {'attr': {'class': "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>

            <h2 class="text-base font-semibold leading-7 text-gray-900 bg-gray-100">Couleurs</h2>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.color1, 'Couleurs', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:mt-0 w-full sm:grid sm:grid-cols-4">
                    {{ form_widget(form.color1, {'attr': {'class': "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                    {{ form_widget(form.color2, {'attr': {'class': "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                    {{ form_widget(form.color3, {'attr': {'class': "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                    {{ form_widget(form.color4, {'attr': {'class': "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
                <p class="sm:col-start-2 sm:col-span-2 text-xs leading-6 text-gray-600">
                    💡 (expérimental) Au format SVG, seule la première couleur est utilisée.
                </p>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.bgColor, 'Couleur du fond', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:mt-0">
                    {{ form_widget(form.bgColor, {'attr': {'class': "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
                <div class="mt-2 sm:mt-0">
                    {{ form_widget(form.transparent, {'attr': {'class': "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"}}) }}
                    {{ form_label(form.transparent, 'Transparent', {"label_attr": {"class": "font-medium text-gray-900"}}) }}
                </div>
            </div>

            <h2 class="text-base font-semibold leading-7 text-gray-900 bg-gray-100">Blocks</h2>


            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.drawCircularModules, 'Blocks arrondis', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2sm:mt-0">
                    {{ form_widget(form.drawCircularModules,  {'attr': {'class': "block w-half rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.circleRadius, 'Rayon des blocks si arrondi (%)', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2sm:mt-0">
                    {{ form_widget(form.circleRadius,  {'attr': {'class': "block w-half rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                {{ form_label(form.keepAsSquare, 'Garder les modules carrés', {"label_attr": {"class": "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"}}) }}
                <div class="mt-2 sm:col-span-2sm:mt-0">
                    {{ form_widget(form.keepAsSquare,  {'attr': {'class': "block w-half rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"}}) }}
                </div>
            </div>


        </div>
    </div>
</div>

<div class="mt-6 flex items-center justify-center gap-x-6">
    <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Générer
    </button>
</div>

{{ form_end(form) }}
